<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div *ngIf="rootChatOpen" class="text-white">
        <div  style="height:500px; overflow-y: scroll; background-color: #0C6178">
          <div *ngFor="let message of messages" style="display: flex;align-items:center;">
            <img src="{{message.img}}" alt="" height="30" width="30" style="margin-top:10px;margin-left:10px">
            <span style="padding:20px">{{message.message}}</span>
          </div>
        </div>
      </div>
       
      <div *ngIf="rootChatOpen" class="tab">
        <button type="button" class="btn btn-primary active" (click)="selectMain()">Main</button>
        <div *ngFor="let item of componentRefTabs; let i = index" style="display:inline-block;">
          <button type="button" class="btn btn-secondary active"
            (click)="openTab(i)">{{item.component.instance.tabName}}</button>
          <button type="button" class="btn btn-secondary active" (click)="destroyTab(i)">x</button>
        </div>
      </div>
     
      <div *ngIf="rootChatOpen" class="text-white">
        <label for="message">Message</label>
        <form (ngSubmit)="sendMessage()" #chatForm="ngForm" style="align-items:center;display:flex;">
          <div class="form-group">

            <div class="emoji-list" *ngFor="let item of mapEmoji | keyvalue; let i = index">
              <p emoji="{{item.key}}" (click)="insertEmojiInMessage(item.key, i)"></p>
            </div>

            <textarea class="form-control" placeholder="Type a message" type="text" name="textarea"
              [(ngModel)]="message" rows="2" cols="110" style="display:inline-block;resize:none;"
              (keyup)="editTextareaMessage()"></textarea>
          </div>

          <button class="btn btn-primary h-50" style="align-self:middle;" type="submit" id="sendmessage"
            [disabled]="!chatForm.valid">
            Send
          </button>

        </form>
      </div>
    </div>
    <div class="col-sm-2">
      <div *ngIf="rootChatOpen" class="text-white" style="height:500px;background-color:#748CF8;padding:10px;">
        <p style="display:flex;" (click)="openModal(content)">{{username}}</p>
        <div *ngFor="let con of connections | keyvalue">
          <p style="display:flex" (click)="createNewPrivateMessageComponent(con.key, con.value)">{{con.key}}</p>
        </div>
      </div>
      <button *ngIf="rootChatOpen" class="btn btn-primary">Create group</button>
      <div *ngIf="rootChatOpen"  class="row justify-content-left">
        <div class="col-sm-10 py-3" style="display:inline-flex;">
          <a class="px-2 link-primary" *ngIf="!(authService.isLoggedIn$ | async)" (click)="openLogin()">Login</a>
          <p class="px-2" *ngIf="authService.isLoggedIn$ | async" (click)="logout()">Logout</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12" (openComponent)="openTab($event)">
      <div class="tabs" #componentHolder>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <img src="{{photo}}" height="30" width="30" />
        <input type="text" placeholder="Edit your name" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        <div>
          <p>Avatars</p>
          <div *ngFor="let image of images">
            <img src="{{image.name}}" alt="" height="30" width="30" style="margin-top:10px;margin-left:10px"
              (click)="updateImage(image.name)">
          </div>
        </div>
        <div *ngIf="authService.isLoggedIn$ | async">
          <form action="" method="post" enctype="multipart/form-data">
            <input type="file" (change)="uploadImage($event)">
          </form>
          <label>Update Image</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveProfile()">Save</button>
  </div>
</ng-template>